{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "none",
  "jsxSingleQuote": false,
  "importOrderSortSpecifiers": true,
  "importOrder": ["^@configs/(.*)$", "^@libs/(.*)$", "^[./]", "<THIRD_PARTY_MODULES>"],
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-organize-imports"]
}
